
<section class="body">
  <main style="display: flex; width: 100%;">
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      font-family: Arial, sans-serif;
      height: calc(max-content - 10px);
      font-size: 0.8rem;
    }
    .invoice-box {
      width: 100%;
      border: 1px solid #ddd;
      padding: 10px;
      height: 100%;
    }
    .invoice-box:first-child {
      border-right: 2px dashed red;
    }
    .header {
      text-align: center;
      display: flex;
      justify-content: space-between;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .header h1 {
      margin: 0;
    }
    .header p {
      margin: 5px 0;
    }
    .info {
      margin: 20px 0;
    }
    .info div {
      display: flex;
      justify-content: space-between;
    }
  
    .info p {
      margin: 0;
    }
    .table {
      width: 100%;
      border-collapse: collapse;
    }
    .table th,
    .table td {
      border-right: 2px solid black;
      padding: 4px;
    }
  
    .table th:last-child,
    .table td:last-child {
      border-right: 0;
    }
    .table th {
      background-color: #ffffff;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      text-align: left;
    }
    .footer {
      text-align: right;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }
    #address {
      text-align: center;
      border-bottom: 2px solid black;
    }
  </style>
<div class="invoice-box">
  <div class="header">
    <h1>EKTA ENTERPRISES</h1>
    <div>
      <p>Phone: 9179174888</p>
      <p>Mobile: 9826623188</p>
      <p>GSTN: 23AJBPS6285R1ZF</p>
    </div>
  </div>
  <p id="address">BUDHWARI BAZAR, GN ROAD SEONI,, SEONI</p>

  <div class="info" style="display: flex;">
    <div>
      <p><strong>Voucher No.: </strong><span>T - 15</span></p>
      <p><strong>Date: </strong><span>13.06.2024</span></p>
    </div>
    <p><strong>Trf. From: </strong><span>GANJ GODOWN</span></p>
    <p><strong>Trf. To: </strong><span>KEOLARI GODOWN</span></p>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>S/N</th>
        <th>Code</th>
        <th>Particular</th>
        <th>Pack</th>
        <th>GST %</th>
        <th>Unit</th>
        <th>Qty</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="footer">
    <p><strong>Items: </strong>5</p>
    <p><strong>T.Qty.: </strong><span id="tQT">210</span></p>
  </div>
</div>
</main>
</section>
<script>

  async function fillForm() {
    
  // url query string get ?data=
  let data = window.location.search.split("=")[1];

  data = decodeURIComponent(data);
  data = JSON.parse(data);

  const getDbfData = async (file) => {
    const url = "/api/dbf/"+file;
    const response = await fetch(url);
    return await response.json();
  }

  const jsonGodown = await getDbfData("godown.json");
  const pmplJSON = (await getDbfData("pmpl.json")).filter(item => item.STK > 0);

  function findElmPMPL(code) {
    return pmplJSON.find(item => item.CODE === code);
  }


  let datax = {};
  datax.voucher = {
    number: data.series+ " - " + data.id,
    date: data.date,
    transfer_from: jsonGodown.find(item => item.GDN_CODE === data.fromGodown).GDN_NAME,
    transfer_to: jsonGodown.find(item => item.GDN_CODE === data.toGodown).GDN_NAME,
  }

  let i=1;
  datax.items = data.items.map(item => {
    const pmplItem = findElmPMPL(item.code);
    return {
      "s_n"          : i++,
      "code"         : item.code,
      "particular"   : pmplItem.PRODUCT,
      "pack"         : pmplItem.PACK,
      "gst_percent"  : parseFloat(pmplItem.GST).toFixed(2),
      "unit"         : (item.unit == "01" ? pmplItem.UNIT_1 : pmplItem.UNIT_2) + (pmplItem.UNIT_1 == pmplItem.UNIT_2 && pmplItem.MULT_F == 1 ? "" : " - " + pmplItem.MULT_F),
      "quantity"     : item.qty
    }
  });

  data = [datax];
    console.log(data);
    function renderItems(voucherItems) {
      const tbody = document.querySelector("tbody");
      tbody.innerHTML = ""; 
      voucherItems.forEach((item) => {
        const row = document.createElement("tr");
        row.innerHTML = `
          <td>${item.s_n}</td>
          <td>${item.code}</td>
          <td>${item.particular}</td>
          <td>${item.pack}</td>
          <td>${item.gst_percent}</td>
          <td>${item.unit}</td>
          <td>${item.quantity}</td>
        `;
        tbody.appendChild(row);
      });
    }

    // Call renderItems with the items from the first voucher
    renderItems(data[0].items);

    function renderHeaders(voucher) {
      const voucherNo = voucher.number;
      const date = voucher.date;
      const transferFrom = voucher.transfer_from;
      const transferTo = voucher.transfer_to;

      const voucherNoElement = document.createElement("p");
      voucherNoElement.innerHTML = `<strong>Voucher No.: </strong><span>${voucherNo}</span>`;
      voucherNoElement.style.width = "100%";

      const dateElement = document.createElement("p");
      dateElement.innerHTML = `<strong>Date: </strong><span>${date}</span>`;
      dateElement.style.width = "100%";

      const trfFromElement = document.createElement("p");
      trfFromElement.innerHTML = `<strong>Trf. From: </strong><span>${transferFrom}</span>`;
      trfFromElement.style.width = "100%";
      const trfToElement = document.createElement("p");
      trfToElement.innerHTML = `<strong>Trf. To: </strong><span>${transferTo}</span>`;
      trfToElement.style.width = "100%";
      const infoDiv = document.querySelector(".info");
      infoDiv.innerHTML = ""; // Clear existing content

      const leftDiv = document.createElement("div");
      leftDiv.style.width = "50%";
      leftDiv.style.display = "flex";
      leftDiv.style.flexFlow = "column";
      leftDiv.appendChild(voucherNoElement);
      leftDiv.appendChild(dateElement);

      const rightDiv = document.createElement("div");
      rightDiv.style.width = "50%";
      rightDiv.style.display = "flex";
      rightDiv.style.flexFlow = "column";
      rightDiv.style.textAlign = "right";
      rightDiv.appendChild(trfFromElement);
      rightDiv.appendChild(trfToElement);

      infoDiv.appendChild(leftDiv);
      infoDiv.appendChild(rightDiv);
    }


    const tQT = document.getElementById("tQT");
    tQT.innerText = data[0].items.reduce((acc, item) => acc + parseInt(item.quantity), 0);

    renderHeaders(data[0].voucher);
    renderHeaders(data[0].voucher);

    let prev = document.querySelector('.body main').innerHTML;
    document.querySelector('.body main').innerHTML = prev + prev;
    // set border-right: 2px dashed red;
    document.querySelector(".invoice-box").style.borderRight = "2px dashed red";
  }
  
  fillForm();
</script>
