<section style="padding: 50px;">
<p
  style="
    margin-top: 0pt;
    
    margin-bottom: 14pt;
    line-height: normal;
    font-size: 16pt;
  "
>
  <strong><span style="font-family: Roboto">Ekta Enterprises</span></strong>
</p>
<p
  style="
    margin-top: 14pt;
    
    margin-bottom: 14pt;
    line-height: normal;
    font-size: 10pt;
  "
>
  <span style="font-family: Roboto">Budhwari Bazar, Gn Road Seoni, Seoni</span>
</p>
<p
  style="
    margin-top: 0pt;
    margin-bottom: 8pt;
    line-height: 108%;
    font-size: 10pt;
  "
>
  <span style="width: 36pt; display: inline-block">&nbsp;</span
  ><span style="width: 36pt; display: inline-block">&nbsp;</span
  ><span style="width: 36pt; display: inline-block">&nbsp;</span>
</p>
<style>
  @page { margin: 0px; }

</style>
<table
  cellspacing="0"
  cellpadding="0"
  style="width: 494.9pt; border-collapse: collapse"
>
  <thead>
    <tr style="height: 5.65pt">
      <td
        colspan="2"
        style="
          width: 158.75pt;
          border-top-style: solid;
          border-top-width: 0.75pt;
          border-left-style: solid;
          border-left-width: 0.75pt;
          border-bottom-style: solid;
          border-bottom-width: 0.75pt;
          padding: 0.75pt 0.75pt 0.75pt 0.38pt;
        "
      >
        <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 14pt">
          <strong
            ><span style="font-family: 'Times New Roman'"
              >&nbsp;&nbsp;&nbsp;</span
            ></strong
          ><strong
            ><span style="font-family: 'Times New Roman'">Date :</span></strong
          ><strong
            ><span style="font-family: 'Times New Roman'">&nbsp;</span></strong
          ><strong
            ><span style="font-family: 'Times New Roman'"
              >08.03.2024</span
            ></strong
          >
        </p>
      </td>
      <td
        style="
          width: 163.9pt;
          border-top-style: solid;
          border-top-width: 0.75pt;
          border-bottom-style: solid;
          border-bottom-width: 0.75pt;
          padding: 0.75pt;
        "
      >
        <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 14pt">
          <strong
            ><span style="font-family: 'Times New Roman'"
              >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
            ></strong
          ><strong
            ><span style="font-family: 'Times New Roman'">Mode :</span></strong
          ><strong
            ><span style="font-family: 'Times New Roman'">&nbsp;</span></strong
          ><strong
            ><span style="font-family: 'Times New Roman'">Cash</span></strong
          >
        </p>
      </td>
      <td
        style="
          width: 166.7pt;
          border-top-style: solid;
          border-top-width: 0.75pt;
          border-right-style: solid;
          border-right-width: 0.75pt;
          border-bottom-style: solid;
          border-bottom-width: 0.75pt;
          padding: 0.75pt 0.38pt 0.75pt 0.75pt;
        "
      >
        <p
          style="
            margin-top: 0pt;
            margin-bottom: 0pt;
            text-align: center;
            font-size: 14pt;
          "
        >
          <br /><strong
            ><span style="font-family: 'Times New Roman'"
              >Receipt No.</span
            ></strong
          ><strong
            ><span style="font-family: 'Times New Roman'">&nbsp;</span></strong
          ><strong
            ><span style="font-family: 'Times New Roman'">5810</span></strong
          ><br /><strong
            ><span style="font-family: 'Times New Roman'">&nbsp;</span></strong
          >
        </p>
      </td>
      <td style="vertical-align: top"><br /></td>
    </tr>
    <tr style="height: 5.65pt">
      <td
        style="
          width: 151.8pt;
          border-left-style: solid;
          border-left-width: 0.75pt;
          border-bottom-style: solid;
          border-bottom-width: 0.75pt;
          padding: 0.75pt 0.75pt 0.75pt 0.38pt;
        "
      >
        <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
          <span style="font-family: 'Times New Roman'">&nbsp;</span
          ><span style="font-family: 'Times New Roman'">Name of A/c Head</span>
        </p>
      </td>
      <td
        colspan="2"
        style="
          width: 170.85pt;
          border-right-style: solid;
          border-right-width: 0.75pt;
          border-bottom-style: solid;
          border-bottom-width: 0.75pt;
          padding: 0.75pt 0.38pt 0.75pt 0.75pt;
        "
      >
        <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
          <span style="font-family: 'Times New Roman'"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
          ><span style="font-family: 'Times New Roman'">Code</span>
        </p>
      </td>
      <td
        colspan="1"
        style="
          width: 167pt;
          border-right-style: solid;
          border-right-width: 0.75pt;
          border-left-style: solid;
          border-left-width: 0.75pt;
          border-bottom-style: solid;
          border-bottom-width: 0.75pt;
          padding: 0.75pt 0.38pt;
        "
      >
        <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
          <span style="font-family: 'Times New Roman'"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
          ><span style="font-family: 'Times New Roman'">Amount</span>
        </p>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr style="height: 11.35pt">
      <td
        colspan="2"
        style="
          width: 158.75pt;
          border-left-style: solid;
          border-left-width: 0.75pt;
          padding: 0.75pt 0.75pt 0.75pt 0.38pt;
        "
      >
        <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
          <span style="font-family: 'Times New Roman'">&nbsp;</span>
        </p>
        <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
          <span style="font-family: 'Times New Roman'">&nbsp;</span
          ><span style="font-family: 'Times New Roman'"
            >Naresh Ahuja Seoni,seoni</span
          >
        </p>
      </td>
      <td
        style="
          width: 163.9pt;
          border-right-style: solid;
          border-right-width: 0.75pt;
          padding: 0.75pt 0.38pt 0.75pt 0.75pt;
        "
      >
        <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
          <span style="font-family: 'Times New Roman'"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
          ><br /><span style="font-family: 'Times New Roman'"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
          ><span style="font-family: 'Times New Roman'">BU216</span>
        </p>
      </td>
      <td
        style="
          width: 166.7pt;
          border-right-style: solid;
          border-right-width: 0.75pt;
          border-left-style: solid;
          border-left-width: 0.75pt;
          padding: 0.75pt 0.38pt;
        "
      >
        <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
          <span style="font-family: 'Times New Roman'"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
          ><br /><span style="font-family: 'Times New Roman'"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
          ><span style="font-family: 'Times New Roman'">100.00</span>
        </p>
      </td>
      <td
        style="
          border-top-style: solid;
          border-top-width: 0.75pt;
          vertical-align: top;
        "
      >
        <br />
      </td>
    </tr>
    <tr style="height: 13.5pt">
      <td
        colspan="2"
        style="
          width: 158.75pt;
          border-left-style: solid;
          border-left-width: 0.75pt;
          padding: 0.75pt 0.75pt 0.75pt 0.38pt;
        "
      >
        <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 13.5pt">
          <span style="font-family: Roboto">&nbsp;</span><br /><span
            style="font-family: Roboto"
            >&nbsp;&nbsp;</span
          ><span style="font-family: Roboto; font-size: 12pt"
            >By R/no S.-5810</span
          >
        </p>
        <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
          <span style="font-family: Roboto">&nbsp;</span>
        </p>
      </td>
      <td
        style="
          width: 163.9pt;
          border-right-style: solid;
          border-right-width: 0.75pt;
          padding: 0.75pt 0.38pt 0.75pt 0.75pt;
        "
      >
        <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 13.5pt">
          <em><span style="font-family: Roboto">&nbsp;</span></em>
        </p>
      </td>
      <td
        style="
          width: 166.7pt;
          border-right-style: solid;
          border-right-width: 0.75pt;
          border-left-style: solid;
          border-left-width: 0.75pt;
          padding: 0.75pt 0.38pt;
        "
      >
        <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
          <br /><em
            ><span style="font-family: 'Times New Roman'; font-size: 10pt"
              >&nbsp;</span
            ></em
          >
        </p>
      </td>
      <td style="vertical-align: top"><br /></td>
    </tr>
    <tr style="height: 13.5pt">
      <td
        colspan="2"
        style="
          width: 158.75pt;
          border-left-style: solid;
          border-left-width: 0.75pt;
          border-bottom-style: solid;
          border-bottom-width: 0.75pt;
          padding: 0.75pt 0.75pt 0.75pt 0.38pt;
        "
      >
        <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 13.5pt">
          <span style="font-family: Roboto">&nbsp;</span>
        </p>
      </td>
      <td
        style="
          width: 163.9pt;
          border-right-style: solid;
          border-right-width: 0.75pt;
          border-bottom-style: solid;
          border-bottom-width: 0.75pt;
          padding: 0.75pt 0.38pt 0.75pt 0.75pt;
        "
      >
        <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 13.5pt">
          <span style="font-family: Roboto">&nbsp;</span>
        </p>
      </td>
      <td
        style="
          width: 166.7pt;
          border-right-style: solid;
          border-right-width: 0.75pt;
          border-left-style: solid;
          border-left-width: 0.75pt;
          border-bottom-style: solid;
          border-bottom-width: 0.75pt;
          padding: 0.75pt 0.38pt;
        "
      >
        <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
          <span style="font-family: 'Times New Roman'">&nbsp;</span>
        </p>
      </td>
      <td style="vertical-align: top"><br /></td>
    </tr>
    <tr style="height: 10.45pt">
      <td
        colspan="2"
        style="
          width: 158.75pt;
          border-top-style: solid;
          border-top-width: 0.75pt;
          border-bottom-style: solid;
          border-bottom-width: 0.75pt;
          padding: 0.75pt;
        "
      >
        <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
          <span style="font-family: Roboto">In Words</span
          ><strong><span style="font-family: Roboto">&nbsp;:</span></strong
          ><span style="font-family: Roboto">&nbsp;</span
          ><span style="font-family: Roboto; position: absolute;"></span>
        </p>
      </td>
      <td
        style="
          width: 163.9pt;
          border-top-style: solid;
          border-top-width: 0.75pt;
          border-bottom-style: solid;
          border-bottom-width: 0.75pt;
          padding: 0.75pt;
        "
      >
        <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 13.5pt">
          <br /><span style="font-family: Roboto">&nbsp;</span>
        </p>
      </td>
      <td
        style="
          width: 166.7pt;
          border-top-style: solid;
          border-top-width: 0.75pt;
          border-bottom-style: solid;
          border-bottom-width: 0.75pt;
          padding: 0.75pt;
        "
      >
        <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
          <span style="font-family: 'Times New Roman'">&nbsp;</span>
        </p>
      </td>
      <td style="vertical-align: top"><br /></td>
    </tr>
  </tbody>
  <tbody>
    <tr style="height: 0pt">
      <td style="width: 153.3pt"><br /></td>
      <td style="width: 6.95pt"><br /></td>
      <td style="width: 165.4pt"><br /></td>
      <td style="width: 168.2pt"><br /></td>
      <td style="width: 0.3pt"><br /></td>
    </tr>
  </tbody>
</table>
<p
  style="
    margin-top: 14pt;
    margin-bottom: 14pt;
    line-height: normal;
    font-size: 12pt;
  "
>
  <span style="font-family: Roboto">&nbsp;</span>
</p>
<p
  style="
    margin-top: 14pt;
    margin-bottom: 14pt;
    text-indent: 36pt;
    line-height: normal;
    font-size: 12pt;
  "
>
  <span style="font-family: Roboto">Passed By</span
  ><span style="font-family: Roboto"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
  ><span style="font-family: Roboto">Cashier</span
  ><span style="font-family: Roboto"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
  ><span style="font-family: Roboto">Authorised Signatory</span>
</p>
<p
  style="
    margin-top: 0pt;
    margin-left: 184.3pt;
    margin-bottom: 8pt;
    line-height: 108%;
    font-size: 10pt;
  "
>
  &nbsp;
</p>

<script>
  function fillForm(data) {

    function ddMMYYYY(date) {
      return date.split("-").reverse().join(".");
    }

    // Update elements with the provided data
    document.querySelector("p strong span").textContent =
      data.companyName || "Ekta Enterprises";
    document.querySelector("p:nth-of-type(2) span").textContent =
      data.address || "Budhwari Bazar, Gn Road Seoni, Seoni";
    document.querySelector(
      "table > thead > tr:nth-child(1) > td:nth-child(1) > p > strong:nth-child(4) > span"
    ).textContent = ddMMYYYY(data.date) || "--";
    document.querySelector(
      "table > thead > tr:nth-child(1) > td:nth-child(3) > p > strong:nth-child(4) > span"
    ).textContent = data.receiptNo || "---";

    // Update the elements for "Naresh Ahuja Seoni,seoni"and "BU216"specifically
    document.querySelector(
      "table > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(1) > p:nth-child(2) > span:nth-child(2)"
    ).textContent = data.name || "-----";
    document.querySelector(
      "table > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(2) > p > span:nth-child(4)"
    ).textContent = data.party || "----";
    document.querySelector(
      "table > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(3) > p > span:nth-child(4)"
    ).textContent = data.amount || "---";

    // Update the element for "By R/no S.-5810"
    document.querySelector(
      "table > tbody:nth-child(2) > tr:nth-child(2) > td:nth-child(1) > p:nth-child(1) > span:nth-child(4)"
    ).textContent = "By R/no "+ data.series +".-"+ (data.receiptNo || "---");

    // Update other elements as needed
    // ...
    document.querySelector("section > table > tbody:nth-child(2) > tr:nth-child(4) > td:nth-child(1) > p > span:nth-child(4)")
    .textContent = data.inWords || "----";
  }
  function parseQueryString(queryString) {
    // Split the query string into key-value pairs
    var pairs = queryString.split("&");

    // Initialize an empty object to store key-value pairs
    var result = {};

    // Iterate through each pair
    pairs.forEach(function (pair) {
      // Split the pair into key and value
      var keyValue = pair.split("=");

      // Decode the key and value (in case they're URL encoded)
      var key = decodeURIComponent(keyValue[0]);
      var value = decodeURIComponent(keyValue[1]);

      // Assign key-value pair to the result object
      result[key] = value;
    });

    return result;
  }

  // Example query string
  var queryString = document.location.search.substring(1);

  // Parse the query string into a JSON object
  var jsonData = parseQueryString(queryString);
  fillForm(jsonData);
  // Display the JSON object
  console.log(jsonData);
</script>


</section>