<%- include('../partials/top') %>

<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4">
  </h4>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-body">
          <form autocomplete="off" action="/invoice" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input type="date" class="form-control" id="date" name="date" required>
                  <label for="date">Date</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="series" name="series" required>
                  <label for="series">Series</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="cash" name="cash">
                  <label for="cash">Cash</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="party-dropdown" name="party" placeholder="" required>
                  <label for="party">Party</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="SM-dropdown" name="SM" placeholder="" required>
                  <label for="SM">S/M</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="due-days" name="due-days">
                  <label for="due-days">Due-days</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="ref" name="ref">
                  <label for="ref">Ref</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="accordion" id="itemContainer">
                  <!-- Item accordion content will be added dynamically here -->
                </div>
              </div>
            </div>

            <br>
            <br>
            <br>
            <br>

            <button type="submit" class="btn btn-primary me-2">Save changes</button>
            <button type="button" class="btn btn-label-secondary" style="margin-right:20px">Cancel</button>
          </form>

          <script>
            document.addEventListener('DOMContentLoaded', async (event) => {
              const CMPLurl = "/cmpl";
              const CMPLresponse = await fetch(CMPLurl);
              const CMPLjson = await CMPLresponse.json();

              const balanceUrl = "/balance";
              const balanceResponse = await fetch(balanceUrl);
              const balance = await balanceResponse.json();

              function balanceOfUser(C_CODE){
                let user = balance.find(user => user.partycode == C_CODE);
                return user ? user.result : 0;
              }

              let CMPLList = CMPLjson.map(user => ({
                name: user.C_NAME,
                title: user.C_NAME,
                email: `${user.C_CODE} | ${balanceOfUser(user.C_CODE)}`,
                C_CODE: user.C_CODE,
                value: user,
                avatar: "/assets/img/avatars/3.png"
              }));

              CMPLList = CMPLList.sort((a, b) => a.name.localeCompare(b.name));
              tagifyElement("#party-dropdown", CMPLList);

              let SM = CMPLList.filter(user => user.value.C_CODE.startsWith("SM"));
              tagifyElement("#SM-dropdown", SM);
            });

            function tagifyElement(tagSEL, usersList) {
              const TagifyUserListEl = document.querySelector(tagSEL);

              function tagTemplate(tagData) {
                return `
                  <tag title="${tagData.title || tagData.email}"
                    contenteditable='false'
                    spellcheck='false'
                    tabIndex="-1"
                    class="${this.settings.classNames.tag} ${tagData.class ? tagData.class : ''}"
                    ${this.getAttributes(tagData)}>
                    <x title='' class='tagify__tag__removeBtn' role='button' aria-label='remove tag'></x>
                    <div>
                      <div class='tagify__tag__avatar-wrap'>
                        <img onerror="this.style.visibility='hidden'" src="${tagData.avatar}">
                      </div>
                      <span class='tagify__tag-text'>${tagData.name}</span>
                    </div>
                  </tag>
                `;
              }

              function suggestionItemTemplate(tagData) {
                return `
                  <div ${this.getAttributes(tagData)}
                    class='tagify__dropdown__item align-items-center ${tagData.class ? tagData.class : ''}'
                    tabindex="0"
                    role="option">
                    ${tagData.avatar ? `<div class='tagify__dropdown__item__avatar-wrap'>
                      <img onerror="this.style.visibility='hidden'" src="${tagData.avatar}">
                    </div>` : ''}
                    <strong>${tagData.name}</strong>
                    <span>${tagData.email}</span>
                  </div>
                `;
              }

              let TagifyUserList = new Tagify(TagifyUserListEl, {
                tagTextProp: "name",
                enforceWhitelist: true,
                maxTags: 1,
                skipInvalid: true,
                dropdown: {
                  closeOnSelect: true,
                  enabled: 0,
                  classname: "users-list",
                  searchKeys: ["name", "email"]
                },
                templates: {
                  tag: tagTemplate,
                  dropdownItem: suggestionItemTemplate
                },
                whitelist: usersList
              });

              TagifyUserList.on("dropdown:show dropdown:updated", onDropdownShow);
              TagifyUserList.on("dropdown:select", onSelectSuggestion);
              TagifyUserList.on("remove", onRemoveTag);

              function onDropdownShow(e) {
                let dropdownContentEl = e.detail.tagify.DOM.dropdown.content;
              }

              function onSelectSuggestion(e) {
                console.log("Item Selected", e.detail.data);
              }

              function onRemoveTag(e) {
                console.log("Item Removed", e.detail.data);
              }

              return TagifyUserList;
            }

            function addItem() {
              let usersList = JSON.parse(JSON.stringify(global_usersList));
              itemCounter++;
              usersList = usersList.map(user => ({
                ...user,
                itemCounter
              }));
              let item = document.createElement("div");
              item.classList.add("accordion-item");
              item.id = `item${itemCounter}`;

              item.innerHTML = `
                <h2 class="accordion-header" id="heading${itemCounter}">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${itemCounter}" aria-expanded="true" aria-controls="collapse${itemCounter}">
                    Add a new Item
                  </button>
                </h2>
                <div id="collapse${itemCounter}" class="accordion-collapse collapse show" aria-labelledby="heading${itemCounter}" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="item-name-${itemCounter}" name="item-name" placeholder="" required>
                          <label for="item-name">Item Name</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="code-${itemCounter}" name="code" placeholder="" required>
                          <label for="code">Code</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="product-${itemCounter}" name="product" placeholder="" required>
                          <label for="product">Product</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="pack-${itemCounter}" name="pack" placeholder="" required>
                          <label for="pack">Pack</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="gst-${itemCounter}" name="gst" placeholder="" required>
                          <label for="gst">GST%</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="gdn-${itemCounter}" name="gdn" placeholder="" required>
                          <label for="gdn">Gdn</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="cess-${itemCounter}" name="cess" placeholder="">
                          <label for="cess">Cess</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="unit-${itemCounter}" name="unit" placeholder="" required>
                          <label for="unit">Unit</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="pc-bx-${itemCounter}" name="pc-bx" placeholder="" required>
                          <label for="pc-bx">Pc/Bx</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="mrp-${itemCounter}" name="mrp" placeholder="" required>
                          <label for="mrp">M.R.P.</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="rate-${itemCounter}" name="rate" placeholder="" required>
                          <label for="rate">Rate</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-floating mb-3">
                          <input type="number" class="form-control" id="qty-${itemCounter}" name="qty" placeholder="" required>
                          <label for="qty">QTY</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="free-${itemCounter}" name="free" placeholder="">
                          <label for="free">Free</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="sch-${itemCounter}" name="sch" placeholder="">
                          <label for="sch">SCH</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="cd-${itemCounter}" name="cd" placeholder="">
                          <label for="cd">CD</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="amount-${itemCounter}" name="amount" placeholder="" required>
                          <label for="amount">Amount</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="net-amount-${itemCounter}" name="net-amount" placeholder="" required>
                          <label for="net-amount">Net Amount</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              `;

              itemContainer.appendChild(item);
            }

            let itemCounter = 0;
            let itemContainer = document.getElementById("itemContainer");

            addItem(); // Initial call to add the first item

            document.querySelector("form").addEventListener("submit", (event) => {
              event.preventDefault();
              const data = {
                date: document.querySelector('input[name="date"]').value,
                series: document.querySelector('input[name="series"]').value,
                cash: document.querySelector('input[name="cash"]').value,
                party: JSON.parse(document.querySelector('#party-dropdown').value),
                sm: JSON.parse(document.querySelector('#SM-dropdown').value),
                dueDays: document.querySelector('input[name="due-days"]').value,
                ref: document.querySelector('input[name="ref"]').value,
                items: Array.from(itemContainer.children).map((item, index) => ({
                  itemName: item.querySelector(`#item-name-${index + 1}`).value,
                  code: item.querySelector(`#code-${index + 1}`).value,
                  product: item.querySelector(`#product-${index + 1}`).value,
                  pack: item.querySelector(`#pack-${index + 1}`).value,
                  gst: item.querySelector(`#gst-${index + 1}`).value,
                  gdn: item.querySelector(`#gdn-${index + 1}`).value,
                  cess: item.querySelector(`#cess-${index + 1}`).value,
                  unit: item.querySelector(`#unit-${index + 1}`).value,
                  pcBx: item.querySelector(`#pc-bx-${index + 1}`).value,
                  mrp: item.querySelector(`#mrp-${index + 1}`).value,
                  rate: item.querySelector(`#rate-${index + 1}`).value,
                  qty: item.querySelector(`#qty-${index + 1}`).value,
                  free: item.querySelector(`#free-${index + 1}`).value,
                  sch: item.querySelector(`#sch-${index + 1}`).value,
                  cd: item.querySelector(`#cd-${index + 1}`).value,
                  amount: item.querySelector(`#amount-${index + 1}`).value,
                  netAmount: item.querySelector(`#net-amount-${index + 1}`).value,
                }))
              };

              const postForm = document.createElement("form");
              postForm.method = "POST";
              postForm.action = "/invoice";

              Object.keys(data).forEach(key => {
                const input = document.createElement("input");
                input.type = "hidden";
                input.name = key;
                input.value = key === "items" ? JSON.stringify(data[key]) : data[key];
                postForm.appendChild(input);
              });

              document.body.appendChild(postForm);
              postForm.submit();
            });
          </script>

        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/bottom') %>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const today = new Date().toISOString().split('T')[0];
    document.getElementById("date").value = today;
  });
</script>

</body>
</html>
