<%- include('../../partials/top') %>



<div class="container-xxl flex-grow-1 container-p-y">
   <h4 class="fw-bold py-3 mb-4">
      <!-- <span class="text-muted fw-light">Account Settings /</span> -->
      <%- name %>
   </h4>

   <div class="row">
      <div class="col-md-12">

         <div class="row">
            <div class="col-12">
              <!-- start File export -->
              <div class="card">
                <div class="card-body">
                 

                  <div class="table-responsive">
                    <table id="tabxp" class="table border w-100 table-striped table-bordered display text-nowrap">
                      <thead>
                        <!-- start row -->
                        
                        <!-- end row -->
                      </thead>

                      <tbody>
                      </tbody>

                    
                    </table>
                  </div>
                </div>
              </div> 




   </div>
</div>


<%- include('../../partials/bottom') %>

   <script>
    let json;
    (async ()=>{
      const url = "/cmpl";
      const response = await fetch(url);
      json = await response.json();
    })()

    let globalDATA = [];
      // Construct the URL based on the parameters
      function convertAmountToWords(amount) {
        const oneToTwenty = [
          "",
          "One",
          "Two",
          "Three",
          "Four",
          "Five",
          "Six",
          "Seven",
          "Eight",
          "Nine",
          "Ten",
          "Eleven",
          "Twelve",
          "Thirteen",
          "Fourteen",
          "Fifteen",
          "Sixteen",
          "Seventeen",
          "Eighteen",
          "Nineteen",
        ];
        const tens = [
          "",
          "",
          "Twenty",
          "Thirty",
          "Forty",
          "Fifty",
          "Sixty",
          "Seventy",
          "Eighty",
          "Ninety",
        ];
        const scales = ["", "Thousand", "Lakh", "Crore"];

        function convertLessThanOneThousand(number) {
          let words;
          if (number % 100 < 20) {
            words = oneToTwenty[number % 100];
            number = Math.floor(number / 100);
          } else {
            words = oneToTwenty[number % 10];
            number = Math.floor(number / 10);
            words = tens[number % 10] + " " + words;
            number = Math.floor(number / 10);
          }
          if (number === 0) return words;
          return oneToTwenty[number] + " Hundred " + words;
        }


      
        function convert(amount) {
          let words = "";
                for (let i = 0; i < scales.length; i++) {
                  if (amount % 1000 !== 0) {
                    words =
                      convertLessThanOneThousand(amount % 1000) +
                      " " +
                      scales[i] +
                      " " +
                      words;
                  }
                  amount = Math.floor(amount / 1000);
                }
                return words.trim();
              }

              const words = convert(amount);
              return words ? words + " Only" : "Zero Only";
        }

      function printReceipt(id) {
        console.log("Printing receipt for ", id);
        let data = globalDATA.find(item => item.id === id);
        
        var url = "/printINVOICING?data=" + encodeURIComponent(JSON.stringify(data)); ;
        
        // Redirect to the constructed URL
        window.location.href = url;
      }

      (async () => {
 
        const url = "/json/<%- file %>";
         const response = await fetch(url);
         const json = await response.json();
         globalDATA = JSON.parse(JSON.stringify(json));
         console.log(json);
        //  const modifiedJson = originalJson.map(item => ({
        //     name: item.C_NAME,
        //     email: item.C_CODE
        //   }));
        
        console.log(json);
        // add a last column for action
        json.forEach(item => {
          console.log("This is item");
          console.log(item);
          item.items = item.items.length;
          item.action = `
          <a type="button" data-bs-toggle="modal" class="printbutton" style='padding-right: 10px;' onclick="printReceipt('${item.id}')">
            <i class="fa fa-print"></i>
          </a> &nbsp;
          <a type="button" data-bs-toggle="modal" class="editbutton" onclick="action('edit','${item.id}')">
            <i class="fa fa-edit"></i>
            </a> &nbsp;             
            <a type="button" data-bs-toggle="modal" class="deletebutton" onclick="action('del','${item.id}')" >
              <i class="fa fa-trash"></i>
              </a>
            
            `
        })



         renderJsonToDataTable("#tabxp", json, true)

     


      })()

      function action(action, id) {
        console.log(action, id);
        if (action === "edit") {
          console.log("edit");
          window.location.href = `/edit/invoicing/${id}`;
        } else if (action === "del") {
          // console.log("delete");
          // window.location.href = `/delete/cash-receipts/${id}`;
          if (confirm("Are you sure you want to delete this record?")) {
            window.location.href = `/delete/cash-receipts/${id}`;
            // alert("Record deleted successfully");
          }
          }
      }
      

   </script>



</body>

</html>